.hour {
  max-width: 750px;
  width: 100%;

  display: flex;
  justify-content: space-around;
  
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;

  margin-bottom: 2rem;
}

.hour__animation {
  max-width: 300px;
  width: 100%;
}

.hour .item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hour .item-group {
  display: flex;
  align-items: center;
}

.hour .item-group label{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour label {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;

  line-height: 2;
}

.hour input, .hour select  {
  width: 100%;
  background: var(--color3);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: var(--color4);
}

.hour input:focus {
  border: 1px solid var(--color4);
}

.hour input[type="radio"] {
  display: inline-flex;
}
